.titulo-barra {
  background-color: rgba(173, 216, 230, 0.33);
  color: rgb(68, 88, 139);
  height: 35px;
  font-size: 18px;
  text-align: left;
  position: relative;
  line-height: 35px;
  vertical-align: middle;
}

.seta {
  line-height: 100px;
  display: inline-block;
  float: none;
  font-size: 60px;
}

.produto {
  display: inline-block;
  height: inherit;
  float: none;
}

.produto:hover {
  font-weight: bolder;
  text-decoration: underline;

}

.sugestao {
  display: inline-block;
  height: auto;
  float: none;

}
.descricao {
  height: 45px;
  font-size: 11px;
  line-height:15px;
  overflow:hidden;
}

.texto-simples {
  font-size: 11px;
}

.super-preco {
  font-size: 15px;
  color: rgb(206, 0, 0);
  font-weight: bold;
}

.texto-destaque {
  color: rgb(206, 0, 0);
  font-size: 11px;
}
.imagem-vitrine{

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}
